Repository openstack/networking-generic-switch: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

zuul.d/legacy-networking-generic-switch-jobs.yaml:

- job:
    name: networking-generic-switch-tempest-dsvm-dlm
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^networking_generic_switch/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^test-requirements.txt$
      - ^tools/.*$
      - ^tox.ini$
    run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/run.yaml
    post-run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/post.yaml
    timeout: 4800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/networking-generic-switch
      - openstack/tempest

zuul.d/project.yaml:

- project:
    templates:
      - check-requirements
      - openstack-python3-zed-jobs-neutron
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - networking-generic-switch-tempest-dlm
        - ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode:
            irrelevant-files:
              - ^.*\.rst$
              - ^doc/.*$
              - ^networking_generic_switch/tests/.*$
              - ^releasenotes/.*$
              - ^(test-|)requirements.txt$
              - ^tools/.*$
              - ^tox.ini$
              - ^setup.cfg$
        # NOTE(rpittau): temp disabling job until all changes
        # for ussuri are completed
        - ironic-grenade-dsvm-multinode-multitenant:
            voting: false
    gate:
      jobs:
        - networking-generic-switch-tempest-dlm
        - ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode:
            irrelevant-files:
              - ^.*\.rst$
              - ^doc/.*$
              - ^networking_generic_switch/tests/.*$
              - ^releasenotes/.*$
              - ^(test-|)requirements.txt$
              - ^tools/.*$
              - ^tox.ini$
              - ^setup.cfg$
        # NOTE(rpittau): temp disabling job until all changes
        # for ussuri are completed
        # - ironic-grenade-dsvm-multinode-multitenant

Fix tox4 errors
  tox.ini
Due: none

Add ArubaOS-CX switch support
  doc/source/configuration.rst
  doc/source/supported-devices.rst
  networking_generic_switch/devices/netmiko_devices/aruba.py
  networking_generic_switch/tests/unit/netmiko/test_aruba.py
  releasenotes/notes/add-aruba-support-463a90b0b150b9af.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix CI
  tox.ini
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Document ngs_trunk_ports and ngs_physical_networks
  doc/source/configuration.rst
Due: none

Add support for Cisco Nexus devices (NX-OS)
  doc/source/configuration.rst
  doc/source/supported-devices.rst
  networking_generic_switch/devices/netmiko_devices/cisco.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_nxos.py
  releasenotes/notes/add-cisco-nx-os-support-8046a33107e2a670.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

config: Ignore unknown options starting with ngs_
  CONTRIBUTING.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/dell.py
  networking_generic_switch/devices/netmiko_devices/juniper.py
  networking_generic_switch/generic_switch_mech.py
  releasenotes/notes/log-unknown-ngs-options-8a385406055ccc98.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add ngs_ssh_disabled_algorithms setting
  doc/source/configuration.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/test_devices.py
  releasenotes/notes/add-ngs_ssh_disabled_algorithms-dfe3e805f480ce90.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add Fake device type
  networking_generic_switch/devices/netmiko_devices/fake.py
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Support batching up commands
  doc/source/configuration.rst
  networking_generic_switch/batching.py
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/exceptions.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  networking_generic_switch/tests/unit/test_batching.py
  releasenotes/notes/batching-12d9005924fd9d74.yaml
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add ngs-stress test script
  releasenotes/notes/ngs-stress-78f9e993e62e2e36.yaml
  tools/ngs-stress/README.rst
  tools/ngs-stress/ngs_stress.py
Due: none

Update .gitreview for stable/2023.1
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/2023.1
  tox.ini
Due: none

Update master for stable/2023.1
  releasenotes/source/2023.1.rst
  releasenotes/source/index.rst
Due: none

Fixes, updates for CI configuration
  tox.ini
Due: none

Bugs are now tracked in launchpad, fix docs
  CONTRIBUTING.rst
  README.rst
  doc/source/conf.py
Due: none

Fake: support adding a random sleep and injecting failures
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/fake.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Honor ngs_save_configuration setting when using batch commands
  networking_generic_switch/batching.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Do not make actual device changes in bind_port()
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix delete_network_postcommit KeyError
  networking_generic_switch/generic_switch_mech.py
  releasenotes/notes/delete_network_postcommit-more-defensive-19929702ba7f19fb.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

CI fix: Use the un-deprecated v3 etcd API
  devstack/plugin.sh
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for stable/2023.2
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/2023.2
  tox.ini
Due: none

Update master for stable/2023.2
  releasenotes/source/2023.2.rst
  releasenotes/source/index.rst
Due: none

Fix regression plugging 802.3ad port group
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  releasenotes/notes/fixes-netmiko-regression-binding-port-groups-af6978a199a381b1.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix batching error due to outdated etcd3gw
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm

Fix regression plugging 802.3ad port group
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  releasenotes/notes/fixes-netmiko-regression-binding-port-groups-af6978a199a381b1.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add python3.10 support in testing runtime
  setup.cfg
Due: none

[ngs_coordination] backend_url should be secret
  networking_generic_switch/config.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

bump eventlet to latest version that support python 3.12
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm

Revert "bump eventlet to latest version that support python 3.12"
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm

Clean up removed services from devstack options
  zuul.d/networking-generic-switch-jobs.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

[codespell] Fixing Spelling Mistakes
  tempest_plugin/tests/common/ovs_lib.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

[codespell] Adding Tox Target for Codespell
  setup.cfg
  tox.ini
Due: none

[codespell] Adding CI target for Tox Codespell
  zuul.d/networking-generic-switch-jobs.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for unmaintained/yoga
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode
