Repository openstack/networking-generic-switch: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

zuul.d/legacy-networking-generic-switch-jobs.yaml:

- job:
    name: networking-generic-switch-tempest-dsvm-dlm
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^networking_generic_switch/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^test-requirements.txt$
      - ^tools/.*$
      - ^tox.ini$
    run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/run.yaml
    post-run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/post.yaml
    timeout: 4800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/networking-generic-switch
      - openstack/tempest

zuul.d/project.yaml:

- project:
    check:
      jobs:
        - networking-generic-switch-tempest-dsvm-dlm
        - ironic-tempest-dsvm-multitenant-network:
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^setup.cfg$
    gate:
      jobs:
        - networking-generic-switch-tempest-dsvm-dlm
        - ironic-tempest-dsvm-multitenant-network:
            irrelevant-files:
              - ^(test-|)requirements.txt$
              - ^setup.cfg$

Modify huawei switch configuration
  networking_generic_switch/devices/netmiko_devices/huawei.py
  networking_generic_switch/devices/netmiko_devices/huawei_vrpv8.py
  networking_generic_switch/tests/unit/netmiko/test_huawei.py
  networking_generic_switch/tests/unit/netmiko/test_huawei_vrpv8.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Use save_config provided by netmiko
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/arista.py
  networking_generic_switch/devices/netmiko_devices/cisco.py
  networking_generic_switch/devices/netmiko_devices/cisco300.py
  networking_generic_switch/tests/unit/netmiko/test_arista_eos.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_300.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_ios.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Avoid tox-install.sh
  doc/requirements.txt
  requirements.txt
  test-requirements.txt
  tools/tox_install.sh
  tox.ini
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Updated from global requirements
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm

Updated from global requirements
  doc/requirements.txt
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Remove config.get_config()
  networking_generic_switch/config.py
  networking_generic_switch/tests/unit/test_config.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

add lower-constraints job
  lower-constraints.txt
  tox.ini
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Change launchpad to storyboard references
  CONTRIBUTING.rst
  README.rst
Due: ironic-tempest-dsvm-multitenant-network

support to recover default vlan when delete port
  README.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/netmiko/test_huawei_vrpv8.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  networking_generic_switch/tests/unit/test_devices.py
  releasenotes/notes/add_ngs_default_vlan-ab09e0f4fd7ce897.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Sync hacking requirement with ironic
  lower-constraints.txt
  test-requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Ensure pep8 is present before trying to proceed
  devstack/plugin.sh
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Fix tox_install.sh for pip10
  tools/tox_install.sh
Due: ironic-tempest-dsvm-multitenant-network

Gate fix: Cap hacking to avoid gate failure
  test-requirements.txt
Due: none

Fix pep8 errors
  networking_generic_switch/devices/netmiko_devices/brocade.py
  networking_generic_switch/tests/unit/test_locking.py
  test-requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Stop logging success in case of error
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Add ruijie switch driver
  README.rst
  networking_generic_switch/devices/netmiko_devices/ruijie.py
  releasenotes/notes/ruijie-netmiko-driver-14e521fc36ede897.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

fix tox python3 overrides
  tox.ini
Due: ironic-tempest-dsvm-multitenant-network

Switch to using stestr
  .gitignore
  .stestr.conf
  test-requirements.txt
  tox.ini
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

support hpe device type for the HPE 5900 series switches
  README.rst
  networking_generic_switch/devices/netmiko_devices/hpe.py
  releasenotes/notes/add_netmiko_hpe_comware_device-c39be5d96943c6fd.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Rework documentation layout
  README.rst
  doc/source/configuration.rst
  doc/source/index.rst
  doc/source/readme.rst
  doc/source/supported-devices.rst
Due: ironic-tempest-dsvm-multitenant-network

Add documentation on configuration of synchronisation
  doc/source/configuration.rst
Due: ironic-tempest-dsvm-multitenant-network

Add support for Dell PowerConnect switches
  doc/source/configuration.rst
  doc/source/supported-devices.rst
  networking_generic_switch/devices/netmiko_devices/dell.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  releasenotes/notes/dell-powerconnect-5ce572b9fb2702d3.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Fix typo in configuration help message
  networking_generic_switch/config.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Updating required neutron version
  lower-constraints.txt
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Remove unicode from tox.ini
  tox.ini
Due: ironic-tempest-dsvm-multitenant-network

Remove testrepository and .testr.conf
  .gitignore
  .testr.conf
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Adds ngs_switchport_mode config option to Dell PowerConnect driver
  doc/source/configuration.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/dell.py
  networking_generic_switch/exceptions.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  releasenotes/notes/add-switchmode-option-to-dell-powerconnect-87718a84430444ef.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Add a netmiko device driver for Juniper switches
  doc/source/configuration.rst
  doc/source/supported-devices.rst
  networking_generic_switch/devices/netmiko_devices/juniper.py
  networking_generic_switch/exceptions.py
  networking_generic_switch/tests/unit/netmiko/test_juniper.py
  releasenotes/notes/juniper-92d75d3086cf78a2.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Update neutron-lib requirement for Rocky
  lower-constraints.txt
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Follow up for Juniper Junos OS device support
  doc/source/configuration.rst
  doc/source/supported-devices.rst
  networking_generic_switch/devices/netmiko_devices/juniper.py
  releasenotes/notes/juniper-92d75d3086cf78a2.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Set neutron branch name in tox_install.sh
  tools/tox_install.sh
Due: ironic-tempest-dsvm-multitenant-network

add alias for hpe_comware
  doc/source/configuration.rst
  releasenotes/notes/add_alias_for_hpe_comware-0eb9a016f0c992df.yaml
  setup.cfg
Due: ironic-tempest-dsvm-multitenant-network

Add a note about synchronization timeout
  doc/source/configuration.rst
Due: ironic-tempest-dsvm-multitenant-network

Detection of config errors for netmiko drivers
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/brocade.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Update .gitreview for stable/rocky
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

Update UPPER_CONSTRAINTS_FILE for stable/rocky
  tox.ini
Due: ironic-tempest-dsvm-multitenant-network

Update reno for stable/rocky
  releasenotes/source/index.rst
  releasenotes/source/rocky.rst
Due: ironic-tempest-dsvm-multitenant-network

import zuul job settings from project-config
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network

switch documentation job to new PTI
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-multitenant-network
