Repository openstack/networking-generic-switch: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

networking-generic-switch-tempest-dsvm-dlm:
  parent: legacy-dsvm-base
  run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/run.yaml
  post-run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/post.yaml
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-generic-switch
  ...

Enhance doc generation
  doc/source/_exts/netmiko_device_commands.py
  tox.ini
Due: none

Document advanced Netmiko parameters
  doc/source/configuration.rst
Due: none

tox: exclude all venv dirs from pep8
  tox.ini
Due: none

Ignore newly enforced pep8 rules
  tox.ini
Due: none

Minor doc generation fixes
  doc/source/_exts/netmiko_device_commands.py
Due: none

Support security groups in netmiko base class
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/fake.py
  networking_generic_switch/exceptions.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Add security group support to netmiko_sonic
  networking_generic_switch/devices/netmiko_devices/sonic.py
  networking_generic_switch/tests/unit/netmiko/test_sonic.py
  releasenotes/notes/sonic-sg-b7142e4c153ca7ac.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Add security group support to netmiko_dell_os10
  networking_generic_switch/devices/netmiko_devices/dell.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  releasenotes/notes/os10-sg-ceaea96b20b31dbd.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Create service plugin to configure security groups
  doc/source/compatible-devices.rst
  doc/source/configuration.rst
  networking_generic_switch/config.py
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/generic_switch_sg.py
  networking_generic_switch/tests/unit/test_devices.py
  networking_generic_switch/tests/unit/test_generic_switch_sg.py
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Add security group support to netmiko_cisco_nxos
  doc/source/compatible-devices.rst
  doc/source/configuration.rst
  networking_generic_switch/devices/netmiko_devices/cisco.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_nxos.py
  releasenotes/notes/nx-os-sg-804cc5831089448a.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Fix support for Aruba AOS CX devices
  doc/source/configuration.rst
  networking_generic_switch/tests/unit/netmiko/test_aruba.py
  releasenotes/notes/fix-aruba-netmiko-device-type-1e1a3e2e3eb3741e.yaml
  requirements.txt
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm

Aruba: Add error message patterns to detect errors
  networking_generic_switch/devices/netmiko_devices/aruba.py
  networking_generic_switch/tests/unit/netmiko/test_aruba.py
  releasenotes/notes/add-aruba-error-checking-812aa4dba14d5079.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Cast boolean Netmiko kwargs to native types
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/test_devices.py
  releasenotes/notes/convert-netmiko-bool-params-55d86c55fc73503e.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Add releasenote about removed eventlet
  releasenotes/notes/no-explicit-eventlet-use-d6d67e6a3bebd637.yaml
Due: none

Fix incorrect command when unplugging bond subports
  networking_generic_switch/devices/netmiko_devices/__init__.py
  releasenotes/notes/fix-unplugging-trunk-subports-66d8496b43c55130.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Update .gitreview for stable/2025.2
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Update TOX_CONSTRAINTS_FILE for stable/2025.2
  tox.ini
Due: none

Update master for stable/2025.2
  releasenotes/source/2025.2.rst
  releasenotes/source/index.rst
Due: none

test_devices: Fix test to avoid scary backtrace
  networking_generic_switch/tests/unit/test_devices.py
Due: none

Drop ineffective ignore_base_python
  tox.ini
Due: none

Add default vlan to driver interfaces
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_ios.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  releasenotes/notes/add-default-vlan-parameter-c614b798f45f9973.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

tox: Enable codespell by default and limit it to relevant files
  devstack/plugin.sh
  doc/source/compatible-devices.rst
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/generic_switch_sg.py
  tox.ini
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Drop remaining logic for linuxbridge-agent
  devstack/upgrade/upgrade.sh
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Update .gitreview for unmaintained/2024.1
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

reno: Update master for unmaintained/2024.1
  releasenotes/source/2024.1.rst
Due: none

fix: segment binding level for VLAN support
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

clean up codespell jobs
  .pre-commit-config.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Use upper constraints in pep8 job
  tox.ini
Due: none

Update hacking to 7.0.0
  tox.ini
Due: none

Add Arista bond trunk support
  networking_generic_switch/devices/netmiko_devices/arista.py
  releasenotes/notes/arista-bond-trunk-4a376a636f899173.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Migrate setup configuration to pyproject.toml format
  pyproject.toml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

devstack: Ignore error with file existing on restack
  devstack/plugin.sh
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

l2vni plug case with Cisco NXOS
  doc/source/_exts/netmiko_device_commands.py
  doc/source/configuration.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/arista.py
  networking_generic_switch/devices/netmiko_devices/cisco.py
  networking_generic_switch/devices/netmiko_devices/sonic.py
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_nxos.py
  networking_generic_switch/tests/unit/test_devices.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  releasenotes/notes/cisco-nxos-vxlan-bgp-evpn-251dd384acac2d6f.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Remove unused sphinxcontrib-seqdiag
  doc/requirements.txt
Due: none

CI: Temporary setuptools pin
  tox.ini
Due: none

Declare Python 3.13 supported
  pyproject.toml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-multinode

Path conditions:
  networking-generic-switch-tempest-dsvm-dlm: unless all of: ^.*\.rst$, ^doc/.*$, ^networking_generic_switch/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-multinode: unless all of: ^.*\.rst$, ^doc/.*$, ^networking_generic_switch/tests/.*$, ^releasenotes/.*$, ^(test-|)requirements.txt$, ^tools/.*$, ^tox.ini$, ^setup.cfg$
