Repository openstack/networking-generic-switch: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

networking-generic-switch-tempest-dsvm-dlm:
  parent: legacy-dsvm-base
  run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/run.yaml
  post-run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/post.yaml
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-generic-switch
  ...

ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode:
  voting: false

Add py38 package metadata
  setup.cfg
Due: none

Update lower-constraints.txt
  lower-constraints.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Switch to newer openstackdocstheme and reno versions
  doc/requirements.txt
  doc/source/conf.py
  releasenotes/source/conf.py
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

change segment id type to int
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Set min version of tox to 3.2.1
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add support for Cumulus 4.x NCLU driver
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/cumulus.py
  networking_generic_switch/tests/unit/netmiko/test_cumulus.py
  releasenotes/notes/add-cumulus-nclu-support-ddcffa604c3e1b18.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Generate key on PEM format
  devstack/plugin.sh
  networking_generic_switch/generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix lower-constraints for ubuntu focal
  lower-constraints.txt
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for stable/victoria
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/victoria
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update master for stable/victoria
  releasenotes/source/index.rst
  releasenotes/source/victoria.rst
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add Python3 wallaby unit tests
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Set safe version of hacking
  test-requirements.txt
Due: none

Add documentation for Cumulus Linux NCLU
  doc/source/configuration.rst
  doc/source/supported-devices.rst
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove lower-constraints job
  lower-constraints.txt
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove lower-constraints job
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove pep8 dependencies from test-requirements
  test-requirements.txt
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Use TOX_CONSTRAINTS_FILE
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update minversion of tox
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove grenade jobs from old stable branches
  devstack/plugin.sh
  networking_generic_switch/generic_switch_mech.py
  zuul.d/networking-generic-switch-jobs.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for stable/wallaby
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/wallaby
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update master for stable/wallaby
  releasenotes/source/index.rst
  releasenotes/source/wallaby.rst
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add Python3 xena unit tests
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix command syntax in Juniper driver
  networking_generic_switch/devices/netmiko_devices/juniper.py
  networking_generic_switch/tests/unit/netmiko/test_juniper.py
  releasenotes/notes/fix-junos-syntax-27bb18dc737d776b.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove grenade jobs from old stable branches
  zuul.d/networking-generic-switch-jobs.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

setup.cfg: Replace dashes with underscores
  setup.cfg
Due: none

Update min version of tox to use allowlist
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove grenade jobs from old stable branches
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix tempest based job
  zuul.d/networking-generic-switch-jobs.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Increase version of hacking and pycodestyle
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  networking_generic_switch/tests/unit/netmiko/test_juniper.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  networking_generic_switch/tests/unit/test_devices.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  tox.ini
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add lower-constraints job to current development branch
  lower-constraints.txt
  requirements.txt
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Add ngs_manage_vlans configuration
  doc/source/configuration.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  releasenotes/notes/manage-vlans-c75e4c2e9b9b3403.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for stable/xena
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/xena
  tox.ini
Due: ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Path conditions:
  networking-generic-switch-tempest-dsvm-dlm: unless all of: ^.*\.rst$, ^doc/.*$, ^networking_generic_switch/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
