Repository openstack/networking-generic-switch: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

zuul.d/legacy-networking-generic-switch-jobs.yaml:

- job:
    name: networking-generic-switch-tempest-dsvm-dlm
    parent: legacy-dsvm-base
    irrelevant-files:
      - ^.*\.rst$
      - ^doc/.*$
      - ^networking_generic_switch/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^test-requirements.txt$
      - ^tools/.*$
      - ^tox.ini$
    run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/run.yaml
    post-run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/post.yaml
    timeout: 4800
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/networking-generic-switch
      - openstack/tempest

zuul.d/project.yaml:

- project:
    templates:
      - check-requirements
      - openstack-python3-zed-jobs-neutron
      - publish-openstack-docs-pti
      - release-notes-jobs-python3
    check:
      jobs:
        - networking-generic-switch-tempest-dlm
        - ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode:
            irrelevant-files:
              - ^.*\.rst$
              - ^doc/.*$
              - ^networking_generic_switch/tests/.*$
              - ^releasenotes/.*$
              - ^(test-|)requirements.txt$
              - ^tools/.*$
              - ^tox.ini$
              - ^setup.cfg$
        # NOTE(rpittau): temp disabling job until all changes
        # for ussuri are completed
        - ironic-grenade-dsvm-multinode-multitenant:
            voting: false
    gate:
      jobs:
        - networking-generic-switch-tempest-dlm
        - ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode:
            irrelevant-files:
              - ^.*\.rst$
              - ^doc/.*$
              - ^networking_generic_switch/tests/.*$
              - ^releasenotes/.*$
              - ^(test-|)requirements.txt$
              - ^tools/.*$
              - ^tox.ini$
              - ^setup.cfg$
        # NOTE(rpittau): temp disabling job until all changes
        # for ussuri are completed
        # - ironic-grenade-dsvm-multinode-multitenant

reno: Update master for unmaintained/yoga
  releasenotes/source/yoga.rst
Due: none

Replace usage of deprecated path for test decorators
  tempest_plugin/tests/scenario/test_ngs_basic_ops.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for stable/2024.1
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/2024.1
  tox.ini
Due: none

Update master for stable/2024.1
  releasenotes/source/2024.1.rst
  releasenotes/source/index.rst
Due: none

Update .gitreview for unmaintained/zed
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

reno: Update master for unmaintained/zed
  releasenotes/source/zed.rst
Due: none

[CI] Remove not defined job from queue
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix codespell reported errors
  setup.cfg
Due: none

Add VLAN and Port allowlist
  doc/source/configuration.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_devices.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  releasenotes/notes/add-vlan-and-port-allowlist-0b1c29967210fbfb.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update to match latest development cycle
  setup.cfg
  test-requirements.txt
  tox.ini
Due: none

Cumulus NVUE support
  doc/source/configuration.rst
  doc/source/supported-devices.rst
  networking_generic_switch/devices/netmiko_devices/cumulus.py
  networking_generic_switch/tests/unit/netmiko/test_cumulus_nvue.py
  releasenotes/notes/add-cumulus-nvue-support-2207d67edc12e866.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for stable/2024.2
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/2024.2
  tox.ini
Due: none

Update master for stable/2024.2
  releasenotes/source/2024.2.rst
  releasenotes/source/index.rst
Due: none

Add Supermicro switches to allow for supported write config
  doc/source/configuration.rst
  doc/source/supported-devices.rst
  networking_generic_switch/devices/netmiko_devices/smc.py
  networking_generic_switch/tests/unit/netmiko/test_smc.py
  releasenotes/notes/add-supermicro-support-8cc6c6b2265e474b.yaml
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Link to Ironic dev-quickstart in contributing doc
  CONTRIBUTING.rst
Due: none

Force autospec=True in tests and fix unit tests
  networking_generic_switch/tests/unit/netmiko/test_arista_eos.py
  networking_generic_switch/tests/unit/netmiko/test_aruba.py
  networking_generic_switch/tests/unit/netmiko/test_brocade_fastiron.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_300.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_ios.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_nxos.py
  networking_generic_switch/tests/unit/netmiko/test_cumulus.py
  networking_generic_switch/tests/unit/netmiko/test_cumulus_nvue.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  networking_generic_switch/tests/unit/netmiko/test_huawei.py
  networking_generic_switch/tests/unit/netmiko/test_huawei_vrpv8.py
  networking_generic_switch/tests/unit/netmiko/test_juniper.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  networking_generic_switch/tests/unit/netmiko/test_nokia_srl.py
  networking_generic_switch/tests/unit/netmiko/test_ovs_linux.py
  networking_generic_switch/tests/unit/netmiko/test_pluribus.py
  networking_generic_switch/tests/unit/netmiko/test_sonic.py
  networking_generic_switch/tests/unit/test_batching.py
  networking_generic_switch/tests/unit/test_devices.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  networking_generic_switch/tests/unit/test_locking.py
  tox.ini
Due: none

cumulus_nvue: Don't call enable() and set enter_config_mode = False
  networking_generic_switch/devices/netmiko_devices/cumulus.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Correct device_type in Cumulus NVUE comment
  networking_generic_switch/devices/netmiko_devices/cumulus.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

tox: Drop envdir
  tox.ini
Due: none

add pyproject.toml to support pip 23.1
  pyproject.toml
  setup.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove Python 3.8 support
  releasenotes/notes/remove-py38-18af38f2ee386abc.yaml
  setup.cfg
Due: none

Drop alpha status
  setup.cfg
Due: none

Add note about requirements lower bounds
  doc/requirements.txt
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm

Do not make actual device changes in bind_port()
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Update .gitreview for unmaintained/2023.1
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

reno: Update master for unmaintained/2023.1
  releasenotes/source/2023.1.rst
Due: none

CI: Fix recent codespell error
  CONTRIBUTING.rst
Due: none

Fix ngs_allowed_vlans validation
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Remove unneeded hasattr check for bond methods
  networking_generic_switch/generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode

Fix typo in section name
  doc/source/dev/dev-quickstart.rst
Due: none

Fix binding l2-only ports by setting connectivity property
  networking_generic_switch/generic_switch_mech.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-ipa-wholedisk-direct-tinyipa-multinode
