Repository openstack/networking-generic-switch: changes, and which Zuul jobs are due for each by the changed paths.
All: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

networking-generic-switch-tempest-dsvm-dlm:
  parent: legacy-dsvm-base
  run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/run.yaml
  post-run: playbooks/legacy/networking-generic-switch-tempest-dsvm-dlm/post.yaml
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/networking-generic-switch
  ...

Update to opendev repository
  CONTRIBUTING.rst
  README.rst
  tox.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update sphinx requirements
  doc/requirements.txt
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update Python 3 test runtimes for Train
  setup.cfg
  tox.ini
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Blacklist sphinx 2.1.0
  doc/requirements.txt
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Retry junos operations on harmless warnings
  networking_generic_switch/devices/netmiko_devices/juniper.py
  networking_generic_switch/tests/unit/netmiko/test_juniper.py
  releasenotes/notes/junos-retry-warnings-f2b004fe99d7770d.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Remove transitional single argument del_network support
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  releasenotes/notes/remove-del_network-transitional-2f5742f7cafa2276.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Fail if creation or deletion of a network on a device fails
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  releasenotes/notes/net-add-del-failure-f4ea1118bc1f9d28.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Add a TravisCI configuration file to test downstream changes
  .travis.yml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Remove neutron from requirements
  requirements.txt
  test-requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm

Fail if creation or deletion of a network on a device fails
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  releasenotes/notes/net-add-del-failure-f4ea1118bc1f9d28.yaml
  releasenotes/notes/remove-del_network-transitional-2f5742f7cafa2276.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Add Mellanox MLNX-OS Switch support
  lower-constraints.txt
  networking_generic_switch/devices/netmiko_devices/mellanox_mlnxos.py
  releasenotes/notes/add-mellanox-mlnx-os-switch-support-a4bf0661cd27fec7.yaml
  requirements.txt
  setup.cfg
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Build pdf doc
  doc/requirements.txt
  doc/source/conf.py
  tox.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Allow network name format to be configured
  doc/source/configuration.rst
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/arista.py
  networking_generic_switch/devices/netmiko_devices/brocade.py
  networking_generic_switch/devices/netmiko_devices/cisco.py
  networking_generic_switch/devices/netmiko_devices/dell.py
  networking_generic_switch/devices/netmiko_devices/juniper.py
  networking_generic_switch/devices/netmiko_devices/ruijie.py
  networking_generic_switch/exceptions.py
  networking_generic_switch/tests/unit/netmiko/test_arista_eos.py
  networking_generic_switch/tests/unit/netmiko/test_brocade_fastiron.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_ios.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  networking_generic_switch/tests/unit/netmiko/test_juniper.py
  networking_generic_switch/tests/unit/test_devices.py
  releasenotes/notes/network-name-format-075f5757d599ac92.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update the constraints url
  tox.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Add versions to release notes series
  releasenotes/source/train.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Fix reivew link.
  CONTRIBUTING.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Switch to Ussuri job
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Temp disabling grenade multinode
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Drop python 2.7 support and testing
  doc/requirements.txt
  releasenotes/notes/drop-py-2-7-76d7a678dc042bd6.yaml
  setup.cfg
  tox.ini
  zuul.d/networking-generic-switch-jobs.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Stop using six library
  lower-constraints.txt
  networking_generic_switch/devices/__init__.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/generic_switch_mech.py
  networking_generic_switch/tests/unit/test_config.py
  requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Enforce running tox with correct python version based on env
  tox.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Fix stable/train CI
  .gitreview
  tox.ini
  zuul.d/networking-generic-switch-jobs.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Fix CI
  zuul.d/networking-generic-switch-jobs.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

[Trivial] doc fix
  doc/source/configuration.rst
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Bump hacking to 3.0.0
  lower-constraints.txt
  networking_generic_switch/devices/__init__.py
  tempest_plugin/tests/scenario/test_ngs_basic_ops.py
  test-requirements.txt
  tox.ini
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Add netmiko_session_logging
  devstack/plugin.sh
  networking_generic_switch/config.py
  networking_generic_switch/devices/netmiko_devices/__init__.py
  releasenotes/notes/netmiko-session-logging-9834fcdb8d6e5bb3.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Fix ngs
  devstack/plugin.sh
  networking_generic_switch/devices/netmiko_devices/__init__.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  releasenotes/notes/fix-netmiko-and-ngs-33c79b55ff7e2fd7.yaml
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Cleanup py27 support
  doc/requirements.txt
  doc/source/conf.py
  doc/source/index.rst
  networking_generic_switch/devices/netmiko_devices/juniper.py
  networking_generic_switch/generic_switch_mech.py
  setup.cfg
  setup.py
  tox.ini
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Remove the unused oslo.i18n bits
  networking_generic_switch/_i18n.py
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Stop configuring install_command in tox.
  lower-constraints.txt
  tox.ini
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Use unittest.mock instead of third party mock
  networking_generic_switch/tests/unit/netmiko/test_arista_eos.py
  networking_generic_switch/tests/unit/netmiko/test_brocade_fastiron.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_300.py
  networking_generic_switch/tests/unit/netmiko/test_cisco_ios.py
  networking_generic_switch/tests/unit/netmiko/test_dell.py
  networking_generic_switch/tests/unit/netmiko/test_huawei.py
  networking_generic_switch/tests/unit/netmiko/test_huawei_vrpv8.py
  networking_generic_switch/tests/unit/netmiko/test_juniper.py
  networking_generic_switch/tests/unit/netmiko/test_netmiko_base.py
  networking_generic_switch/tests/unit/netmiko/test_ovs_linux.py
  networking_generic_switch/tests/unit/test_config.py
  networking_generic_switch/tests/unit/test_devices.py
  networking_generic_switch/tests/unit/test_generic_switch_mech.py
  networking_generic_switch/tests/unit/test_locking.py
  test-requirements.txt
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Upgrade flake8-import-order version to 0.17.1
  lower-constraints.txt
  tempest_plugin/plugin.py
  tempest_plugin/tests/scenario/test_ngs_basic_ops.py
  test-requirements.txt
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update .gitreview for stable/ussuri
  .gitreview
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Add Python3 victoria unit tests
  zuul.d/project.yaml
Due: networking-generic-switch-tempest-dsvm-dlm, ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode

Path conditions:
  networking-generic-switch-tempest-dsvm-dlm: unless all of: ^.*\.rst$, ^doc/.*$, ^networking_generic_switch/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^test-requirements.txt$, ^tools/.*$, ^tox.ini$
  ironic-tempest-dsvm-ipa-wholedisk-agent_ipmitool-tinyipa-multinode: unless all of: ^(test-|)requirements.txt$, ^setup.cfg$
